{% extends 'base.html' %}


{% block content %}
  {% load static %}
  <div id="contenido" class="container">
    <br>
    <div class="container-fluid">
       <h2 id="centrado"> Pelicula buscada es : {{query}}  </h2>
        <br>
        <div class="foto" >
           
            
            {% if peliculas %}
                {% for objeto in peliculas %} 
                     
                <img class="logo-nosotros img-fluid" src="{{ objeto.imagen.url}}" alt="">
                <div class="pie" >
                  <h1>Nombre : {{objeto.nombre}}</h1>
                  <h1>Sinopsis : {{objeto.sinopsis}}</h1>
                  <h1>Año : {{objeto.año}}</h1>
                  <h1>Genero : {{objeto.genero}}</h1>
                  <h1>Actores : {{objeto.actores}}</h1>
                  <h1>Puntuacion : {{objeto.puntuacion}}</h1>
                  <h1>Visualizacion : {{objeto.visualizacion}}</h1>
                  <br>
                   
                </div>

            {% endfor %}
            {%else %}
            <h2 id="centrado">No existe pelicula buscada...</h2>
            {% endif %}
      </div>
    </div>
            
          
  </div>

{% endblock content %}  
